In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [ ]:
#load .csv file into a pandas dataframe
df = pd.read_csv('spotify_tracks.csv')

# Check for row and column count
print(df.shape)

# Inspect first five rows
df.head(5)

In [ ]:
# Get a list of column names in the dataframe
df.columns

# Drop unuseful columns. axis = 1 denotes a column should be dropped. To drop rows, axis = 0
df = df.drop("Unnamed: 0", axis=1)

In [ ]:
# Check datatypes in the dataframe
df.dtypes

In [10]:
# Track missing values using the count of Null values using .isna() chained to .sum()
df.isna().sum()

track_id            0
artists             1
album_name          1
track_name          1
popularity          0
duration_ms         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
track_genre         0
dtype: int64

In [11]:
# Check an entire row where a column is empty using .loc, that returns a specifi index of the df
df.loc[df['artists'].isna()]

,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
65900,1kR4gIb7nGxHPI3D2ifs59,NaN,NaN,NaN,0,0,False,0.501,0.583,7,-9.46,0,0.0605,0.69,0.00396,0.0747,0.734,138.391,4,k-pop

In [ ]:
# Find duplicated data in a dataset using .duplicated()
df.duplicated(keep=False).sum()

894

In [ ]:
# Find duplicated data by a column that 'should' be unique
df.loc[df["track_id"].duplicated(keep=False)].sort_values("track_id")

# Univariate Analysis

Analysis of individual columns.<br>

### Classify Data:<br>
- Qualitative Data <br>
- Quantitative Data

In [ ]:
# Get count of unique values
df['artists'].value_counts()